.center {
  text-align: "center";
}



h1 {
  font-size: 26px;
  color: #FFFFF0;
  margin-top: 40px;
  text-align: center;
  font-family: Archivo;
}

h2{
  font-size: 16px;
  color:#FFFFF0;
  margin-top: 40px;
  text-align: center;
  font-family: Archivo;
}

.bg-light {
  background-color: 	#F0FFF0!important;
  border-bottom: 1px solid #191824;
  color:#191824 ;
  
}

li.nav-item {
  margin-right: 40px;
  
}

#content {
  margin-top: 40px;
  width: 900px
}

input {
    margin-bottom: 20px;
}

label {
    color: #363636;
}

.btn{
    background-color: #F0FFF0;
    color:#191824;
    border-bottom:#A9A9A9;
    
}

p{
    color:#363636;
}

tr{
  background-color: #F0FFF0;
}

th {
  background-color: #B0E0E6;
}